<!DOCTYPE html>
<html>
  <head>
    <title>Donutshop</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>	
<footer>
 
   <div class="footer-content ">
   
   
   
   
  
     <div class="flex-item">
	 
	 <div class="media">
	   
	   <h3><p>Find us:</h3></p>
	 
	   <a href="https://www.facebook.com/" target="_blank"<!--to open in new window--><i><img src="/images/fb-c.gif" alt="facebook" width="35" height="35"  id="fb" onmouseover="MM_swapImage('fb','','/images/fb-bw.gif',1)" onmouseout="MM_swapImgRestore()">  </i></a>
	   <a href="https://twitter.com/?lang=en" target="_blank"><i><img src="/images/tw-c.gif" alt="twitter" width="35" height="35" id="tw" onmouseover="MM_swapImage('tw','','/images/tw-bw.gif',1)" onmouseout="MM_swapImgRestore()" > </a></i></a>
	   <a href="https://www.youtube.com/watch?v=1QLkgxOhMSY" target="_blank"><i><img src="/images/yt-c.gif" alt="youtube" width="35" height="35" id="yt" onmouseover="MM_swapImage('yt','','/images/yt-bw.gif',1)" onmouseout="MM_swapImgRestore()"> </a></i></a>
	   <a href="https://www.instagram.com/barbara_wuu/"target="_blank"><i><img src="/images/ins-c.gif" alt="instagram icon" width="35" height="35" id="ins" onmouseover="MM_swapImage('ins','','/images/ins-bw.gif',1)" onmouseout="MM_swapImgRestore()"> </a></i></a>

	 </div> <!--end of class media-->
	 
	  

	 </div><!--end of flexmedia-->
		 
		  
                
		
	 <div class="flex-item">
	 
	  

	 
	 
	 
	 
	 
	 </div><!--end of middle footer content-->
	 
	 <div class="flex-item">
	
     <ul>
       <li><a href="index.php?action=privacy"><h3>Alergen Info</h3></a></li>  
       <li><a href="index.php?action=terms"><h3> Press</h3></a></li>
       <li><a href="index.php?action=sidemap"><h3>Terms and Condition</h3></a></li>
    </ul>  


	 
	 
	 
	 
	 </div><!--end of flex-item-->
   
   </div><!--end of div content-->
 
   
   <center>&copy; 2021 All Rights reserved. Barbara Wolinska</center>
   
  


</footer>	
	
  <script type="text/javascript"><!--jacascript code used from the internet to change photos when scroll-->


function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}



</script>	
	