<!--FORM PAGE -->

<div data-role="page" id="form">
	

<form method='post'>
<div> Order by:  <input name = "orderby" value="<%=customerorders.orderby %>" /> </div>


<label for="donuts">Choose a customer status:</label>
  <select name="orderstatus"  value="<%=customerorders.orderstatus %>" />
    <option value="PENDING">PENDING</option>
    <option value="COMPLETED">COMPLETED</option>
    <option value="ERROR">ERROR</option>
  </select>
 


<button>Save Changes</button>
<input type = "hidden" value="<%=customerorders.id %>" />
</form>

</div>