<!DOCTYPE html>
<html>
  <head>
    <title>Donutshop</title>
	<meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

	
</head>	
	
<nav>
    
			
    <a href="/"  data-link>
    <img src="/images/logo1.png" alt="logo"></a>


  </nav>

				
	<ul class="topnav">

	    <li><a href="#donut" data-link>Our Donuts</a></li>
        <li><a href="#about"  data-link>About</a></li>
		<li class="right"> <a href="#login" data-link>Login</a></li>
		<li class="right"><a href="#" data-link>Shop</a></li>

     </ul>
	  	  

  

</body>
</html>


  